<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container" style="margin-top: 30px;">
<div class="row">
    <div class="col-12 col-sm-20 col-md-20">
        <div class="card">
            <div class="card-header">
                <h4>Customer's list</h4>
            </div>
            <div class="card-body">
              <div style="margin-bottom: 20px;" *ngIf="searchFormGroup">
                <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
                  <div class="input-group">
                    <label class="input-group-text">Keyword :</label>
                    <input type="text" formControlName="keyword" class="form-control">
                    <button class="btn btn-info">
                      <i class="bi bi-search"></i>
                    </button>
                  </div>
                </form>
              </div>

                <div style="height: 100%;" class="table-responsive" id="proTeamScroll" tabindex="2" style="height: 400px; overflow: hidden; outline: none;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cust.</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>  
                                <th>Delete</th>   
                                <th>Action</th>                           
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of customers | async">
                                <td class="table-img"><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="">
                                </td>
                                <td>
                                    <h6 class="mb-0 font-13">{{c.id}}</h6>
                                    
                                </td>
                                <td>{{c.name}}</td>
                                
                                <td>
                                    <div class="badge-outline col-red">{{c.email}}</div>
                                </td>
                                
                                <td>
                                  <button (click)="handleDeleteCustomer(c)" class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i>
                                  </button>
                                </td>
                                <td>
                                  <button (click)="handleCustomerAccounts(c)" class="btn btn-success btn-sm">
                                    Accounts
                                  </button>
                                </td>
                            </tr>
                           
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #failureOrLading>
  <ng-container *ngIf="errorMessage; else loading">
    <div class="text-danger">
      {{errorMessage}}
    </div>
  </ng-container>
  <ng-template #loading>
    Loading .....
  </ng-template>
</ng-template>
</div>